/*@media only screen and (max-width: 600px) {
  .container {display: flex;
    max-width: 250px;
    max-height: auto;
    
} */
body {
    
  background-color: #f8eeff;
  
}
.header {
   
    z-index: -1; 
  margin: auto;
  width: 100%;
  height: 20rem;
  position: absolute;
 
}
.header_frame  {display: flex;
    height: 20rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-image: url('background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
   
   }
   


.box {
    margin-top: 175px;
width: 100%;
  display: inline-flex;
  height: 56.25rem;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  
  
}
.container {
  display: flex;
  width: 37.5rem;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 1rem;
  background: var(--White, #fff);
  box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
}
h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
}

.icons,h2:hover {
    color: var(--Pink, #AD28EB);
    cursor: pointer;
}

img {
  display: inline;
  margin-right: 13px;
}



.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  font-family: "Work Sans", sans-serif;
  color: var(--Pale-Purple, #8b6990);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  align-self: stretch;
  display: none;
}



